base > * {
	padding: 20px;
	color:white;
	font-family: Tahoma, Geneva, sans-serif;
	line-height: 140%;	
	padding-left: 25%;
	padding-right: 25%;

}

header {
	display: block;

	background-color: #e74c3c;
	
}

header > * {
	display: block;
}

header > school {
	font-size: 200%;
	line-height: 150%;
	font-weight: bold;
	text-align: center;
}

header > school:before {
	content: "Uczelnia: ";
	font-weight: normal;
}

header > faculty {
	font-size: 150%;
	font-weight: bold;
	line-height: 150%;
	text-align: center;
}

header > faculty:before {
	content: "Wydział: ";
	font-weight: normal;
}

header > schoolyear {
	font-size: 120%;
	font-weight: bold;
	line-height: 150%;
	text-align: center;
}

schoolyear:before{
	content: attr(first) "/" attr(second);
}

header > student {
	font-size: 120%;
	text-align: center;
}
people:before {
	content: "LUDZIE: ";
	font-size: 120%;
}
	
people {
	display: block;
	background-color: #9b59b6
}

people > person {
	display: block;
	border: 3px solid;
	padding: 10px;
	margin-top: 10px;
}

person > * {
	display: block;
	border: 1px dashed;
	padding-left: 5px;
	margin-top: 5px;
}

person > name {
	font-weight: bold;
}

person > name:before {
	content: "Imię i nazwisko: ";
	font-weight: normal;
}

person > birth:before {
	content: "Data i miejsce urodzenia: ";
}

person > birth > *
{
	display: block;
	padding-left: 20px;
}

person > birth > date:before {
	content: attr(day) "." attr(month) "." attr(year);
}

person > death:before {
	content: "Data i miejsce śmierci: ";
}

person > death > *
{
	display: block;
	padding-left: 20px;
}

person > death > date:before {
	content: attr(day) "." attr(month) "." attr(year);
}

films:before {
	content: "FILMY: ";
	font-size: 120%;
}

films {
	display: block;
	background-color: #3498db;
}

films > film {
	display: block;
	border: 3px solid;
	padding: 10px;
	margin-top: 10px;
}

film > * {
	display: block;
	border: 1px dashed;
	padding-left: 5px;
	margin-top: 5px;
}

film > title:before {
	content: "Tytuł: ";
}

title > words {
	display: block;
	padding-left: 20px;
}

title > words:nth-child(1) {
	font-size: 150%;
}

words:after {
	content: " (" attr(lang) ")";
	font-size: 80%;
	font-style: oblique;
}

film > date:before {
	content: "Premiera: " attr(day) "." attr(month) "." attr(year);
}

film > time:before {
	content: "Długość: ";
}

time:after {
	content: " " attr(unit); /* coś zwiazanego z tym w dtd wpisywales wiec moze jakos inaczej? */
}

time[unit="min"]:after {
	content: " minut"; /* coś zwiazanego z tym w dtd wpisywales wiec moze jakos inaczej? */
}

film > genres:before {
	content: "Gatunki: ";
	display: block;
}

genres > * {
	padding-left: 20px;
}

genre:not(:last-child):after {
	content: ", ";
}

film > direction:before {
	content: "Reżyseria: "
}

direction > * {
	display: block;
	padding-left: 20px;
}

film > screenplay:before {
	content: "Scenarzyści: "; /* lepsze słowo na to? */
}

screenplay > * {
	display: block;
	padding-left: 20px;
}

writer:before {
	content: "TWÓRCA SCENARIUSZA: ";
}

story:before {
	content: "HISTORIA: ";
}

basedon:before {
	content: "Na podstawie dzieła: " '\201c' attr(work) '\201d' " autorstwa: ";
}

basedon[work = "various"]:before {
	content: "Na podstawie dzieł autorstwa: ";
}

film > cast:before {
	content: "Obsada: ";
}

cast > * {
	display: block;
	padding-left: 20px;	
}

cast > actor:after {
	content: " / " attr(character);
	font-style: oblique;
}

budget:before{
	content: "Budżet: ";
}

budget:after{
	content: " " attr(unit);
}

boxoffice:before{
	content: "Przychody z biletów: ";
}

boxoffice:after{
	content: " " attr(unit);
}

film > reception:before {
	content: "Oceny: ";
}

zeroten:before {
	content: attr(source) ": ";
}

zeroten:after {
	content: "/10";
}

percent:before {
	content: attr(source) ": ";
}

percent:after {
	content: "%";
}

reception > * {
	display: block;
	padding-left: 20px;	
}

description {
	padding-left: 5px;
	padding-right: 5px;
}